@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para la app */
body {
  background-color: #eef8f6;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  padding: 0;
}
